html {
  background: url(westoros.jpg) top right fixed;
  background-size: cover;
  color: white;
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(rgba(0,0,0,.6), transparent);
  background-size: 100%;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

main {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
button {
  background-color: rgba(173, 140, 91, 0.9);
  color: white;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding: 18px 0px;
  font-size: 26px;
  margin-top: 3px;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(173, 140, 91, 0.9);
  font-size: 42px; 
  font-weight: 100;
  max-width: 90%;
  margin: 30px auto;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin: 10px auto;
  max-width: 90%;
  line-height: 24px;
}

p {
  text-align: center;
  font-size: 24px;
  margin: 10px auto;
  max-width: 90%;
  line-height: 24px;
}

.reveal {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  color: rgba(0,0,0,.5);
}

.intro {
  margin-bottom: 40px;
}

ul {
  list-style: none;
  margin: 0px auto;
  width: 90%;
}

li {
  display: block;
  text-align: center;
  font-size: 24px;
  margin: 10px 0px;
  padding: 5px 0px;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column; 
}

input[name="key"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label {
  font-size: 18px;
  background-color: black;
  border: 1px solid white;
  padding: 10px 0px;
  margin: 3px 0px;
}

label:active, label:hover, button:active, button:hover {
  background-color: white;
  color: black;
}

input:checked + label {
  background-color: white;
  color: black;
}

.resultsPicShow {
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.resultsPicShow img {
  width: 100%;
  height: 100%;
}

.incorrectPic {
  width: 90%;
  height: 90%;
}

@media only screen and (max-device-width: 480px) {
  .cropImage {
    height: 200px;
    width: 100%;
    vertical-align: center;
    overflow: hidden;
  }

  .cropImage img {
    position: relative;
    top: -25%;
  }
}
@media only screen and (min-device-width: 481px) {

  h1 {
    font-size: 64px;
  }

  h2 {
    display: block;
    text-align: center;
    width: 100%;
    margin: 25px auto;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    display: inline;
    text-align: center;
    font-size: 24px;
    margin: 10px 0px;
    padding: 5px 0px;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  label {
    width: 45%;
    margin: 10px;
    padding: 20px 0px;
  }

  button {
    width: 100%;
    margin: 10px;
  }

  .resultsPicShow {
    max-width: 500px;
    text-align: center;
    vertical-align: center;
    margin: 0px auto;
  }

}